body {
  background: #000;
  color: #fff;
}

body a{
  color: inherit;
  text-decoration: none;
}

#continue {
  display: none;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.cover .hi {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Futura', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  width:100%;
  z-index: 2;
}
.cover .hi span {
  color: #0047b3;
}
.cover .hi em {
  font-style: normal;
}
.cover .hi em.hidden {
  display: none;
}
.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden ;
}
.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity .5s;
}
.tv .screen.active {
  opacity:1;
}

#fn-title {
  font-family: 'Futura', sans-serif;
  font-size: 6vw;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: none;
}

.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  font-size: calc(10px + .5vw);
  padding: 10px 20px;
  border-radius: 8px;
}


.btn-transparent:hover {
  background: #fff;
  color: #fe7a32;
  text-decoration: none;
}

.btn-transparent a:hover {
  color: #fe7a32;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.container{
  width: 100%;
  font-size: 20px;
}


.dropup {
  display: inline-block;
  list-style: none;
  width: 50px;
  right: 0;
}
.dropdown-menu  {
  font-size: 20px;
  white-space: nowrap;
  min-width: 20px;
  text-align: center;
  right: -15px;
  position: absolute;
  background: none;
  border: 2px solid white;
}

.dropdown-menu>li>a:hover {
  background: none;
}

.dropdown-menu::before {
  position: absolute;
  bottom: -9px;
  right: 0px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  border-left: 8px solid transparent;
  content: '';
}

#share{
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.dropdown-menu i {
  color: #fff;
}

#mobile{
    display: none;
}
#desktop{
    display: inline-block;
}

@media (max-width : 667px){
    #mobile{
        display: block;
    }

    #desktop{
        display: none;
    }
    .mobilevid{
      margin-top: 0%;
    }

    .cover .hi {
      position: relative;
      top: 30%;
    }
}

@media only screen and (max-width: 1450px) {

   .jumbotron{
     font-size: 2em;
   }

}
