html{
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-bottom:50px;
}


.container{
  max-width: 880px;
}

/* A head of the game */
.page-header {
  text-align: center;
}
#fn-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 5vw;
}

.jumbotron h1 {
  font-size: 50px;
}

.navbar-brand{
  height: 20px;
}

.btn-xxl {
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 10px;
}

/* Fun with footers */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #fe7a32;
}

.footer p{
  color: #ffffff;
  margin-top: 15px;
}
